<nav>
  <div class="site-title">
    <a href="/"><h1>Blog Test </h1></a>
    <p>Magilan's Test Blog</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>